<h1>Data Science Tools and Ecosystem</h1>

<p>In this notebook, Data Science Tools and Ecosystem are summarized.</p>

<b>Objectives</b>
<ul>
    <li>Popular languages to data science
    <li>Libraries used for data science
    <li>Data Science tools
    <li>Basic arithmetic calculations in python
</ul>

<p>Some of the popular languages that Data Scientists use are:
    <ol>
        <li>Julia
        <li>Python
        <li>R
    </ol>
</p>

<p>
    Some of the commonly used libraries used by Data Scientists include:
    <ol>
        <li>NumPy
        <li>Panda
        <li>Scikit-learn
    </ol>
</p>

<table>
  <tr>
    <th>Data Science Tools</th>
  </tr>
  <tr>
    <td>Jupyter Notebook</td>
  </tr>
  <tr>
    <td>RStudio</td>
  </tr>
  <tr>
    <td>Apache Zeppelin</td>
  </tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python.</h3>

In [2]:
# This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [3]:
minutes = 200
hours = minutes/60
# This will convert 200 minutes to hours by diving by 60
print(hours)

3.3333333333333335

<h2>Author:</h2>
Kumar Ayush